/* Post */

.post {
  position: relative;
  padding: 10px;
  margin: 20px 0px 20px 0px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background: white;    
}
.post-header {
  display: flex;
  padding: 10px;
}
.post-author {
  font-size: 14px;
  line-height: 1.38;
  font-weight: bold;
  color: #385898;
  cursor: pointer;
  text-decoration: none;    
}
.post-date {
  font-size: 12px;
  color: #616770;
}
.post-text {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.38;
  padding: 8px;
}

.post-img {
  width: 680px;
}
