/* App */

body {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #e9ebee;
  color: #1d2129;
  -webkit-font-smoothing: antialiased;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  /* margin: 1em 0; */
  padding-bottom: 4px;
}

a {
  color:inherit;
  text-decoration: none;
 }

.avatar {
  /* This image is 687 wide by 1024 tall, similar to your aspect ratio */
  /* background-image: url('http://i.stack.imgur.com/Dj7eP.jpg');     */
  /* make a square container */
  width: 32px;
  height: 32px;
  margin-right: 10px;
  /* fill the container, preserving aspect ratio, and cropping to fit */
  background-size: cover;
  /* center the image vertically and horizontally */
  background-position: top center;
  /* round the edges to a circle with border radius 1/2 container size */
  border-radius: 50%;    
}

